<!--The content below is only a placeholder and can be replaced.-->


  <div id="header" role="banner">
    <div id="header-bottom-left">
      <a class="default-header" routerLink="" id="header-img">Faux-Reddit</a>
      <ul class="tabmenu">
        <li (click)="clickedSort('new')">sort by new</li>
      </ul>
    </div>
  </div>

<div class="body">
  <div class="post-container">
      <router-outlet></router-outlet>
  </div>
  <div class="side">
    <app-side-bar></app-side-bar>
  </div>
</div>
