<!--The content below is only a placeholder and can be replaced.-->


  <div id="header" role="banner">
    <div id="sr-header-area">
      <div class="width-clip">
        <div class="dropdown srdrop">
          <span class="selected title">my subreddits <span class="glyphicon glyphicon-chevron-down"></span></span>
        </div>
        <div class="drop-choices srdrop">
          <!-- <a href="https://www.reddit.com/r/AskReddit/" class="choice">AskReddit</a>
          <a href="https://www.reddit.com/r/askscience/" class="choice">askscience</a>
          <a href="https://www.reddit.com/r/aww/" class="choice">aww</a> -->
        </div>
        <div class="sr-list">
          <ul class="flat-list sr-bar hover">
            <li class="flat-list"><a routerLink="">Home</a></li>
            <li class="flat-list"><span class="separator">-</span><a href="https://www.reddit.com/r/popular" class="choice">popular</a></li>
            <li class="flat-list"><span class="separator">-</span><a href="https://www.reddit.com/r/all" class="choice">all</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="header-bottom-left">
      <a class="default-header" routerLink="" id="header-img">Faux-Reddit</a>
    </div>
  </div>

<div class="body">
  <div class="post-container">
      <router-outlet></router-outlet>
  </div>
  <div class="side">
    <p>some stuff in thsi sidebar</p>
  </div>
</div>
