.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side {
    background-color: white;
    margin: 0px 5px 0 5px;
    width: 300px;
    max-width: 300px;
}

#header {
  background-color: #cee3f8;
  position: relative;
  border-bottom: 1px solid #5f99cf;
}

div {
    display: block;
}

#sr-header-area {
    background-color: #f0f0f0;
    white-space: nowrap;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 90%;
    height: 18px;
    line-height: 18px;
}

#sr-header-area .width-clip {
    position: absolute;
    left: 0;
    right: 0;
}

#sr-header-area .dropdown.srdrop {
    float: left;
    padding-left: 5px;
}

.dropdown {
    cursor: pointer;
    display: inline;
    position: relative;
}

.dropdown.srdrop .selected {
    background: none no-repeat scroll center right;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 21px;
    padding-left: 5px;
    color: black;
    font-weight: normal;
    margin-left: -5px;
    margin-right: 10px;
    cursor: pointer;
}

#sr-header-area .sr-list {
    overflow: hidden;
}

.flat-list {
    list-style-type: none;
    display: inline;
}

ul {
    list-style: none;
}

.separator {
    color: gray;
    margin: 0px .7ex 0px .7ex;
    cursor: default;
}

#header-bottom-left {
    font-size: larger;
}

#header-img.default-header {
    text-indent: -9999px;
    background-image: url(https://www.redditstatic.com/sprite-reddit.bTLvdEETokI.png);
    background-position: 0px -1323px;
    background-repeat: no-repeat;
    height: 40px;
    width: 120px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
}

#header-img {
    margin-top: 2px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #369;
}

.post-container {
  border: 1px solid #D3D3D3;
  margin: 15px 0px 15px 10px;
  width: 100%;
}

.side {
  border: 1px solid #D3D3D3;
  margin: 15px;
}
